# See http://help.github.com/ignore-files/ for more about ignoring files.

# package
package-lock.json

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Documentation folder
/documentation

mocks/mock-selection.json

# Don't push libraries code
/projects/connected-home-core

# Don't push compiled libraries
/connected-home-core

# npmrc commenting for build
# /.npmrc

# Sonarcube
/.scannerwork
